body{
	background-color:#FDEBD0;
}
h1{
	color: #6E2C00;
    font-size: 30px;
    
  }
	
}
.videos{
	display: inline-block;

}
.video{
	display: inline-block;
	width: 520px;
	height: 340px;
	padding: 20px;
}

.name{
	position: relative;
	width: 100px ;
}