body{
	background:  black;
	margin: 0px;
}
.top {
	color: white;
	background: rgb(75,75,253);
	border: 0px;
	margin: 0px;
	padding: 2%;
}
.menu-list{
	background: white;
	color:rgb(75,75,253);
}
.new-colors{
	margin-left: 25%;
	margin-right: 15%;
	color:rgb(75,75,253);

}
.new-colors a, .easy a, .hard a{
	color:rgb(75,75,253);
	text-decoration: none;

}
.easy{
	margin-left: 15%;
}
.hard{
	color:rgb(75,75,253);
	margin-left: 1%;
	
}
p {
	text-align: center;
	font-weight: bold;
	margin: 0px;
}
.color-hint {
	font-size: xx-large;
}

.first-color,.forth-color{
	margin-left: 30%;
	margin-right: 1%;
	float: left;
	height: 125px;
	width: 10%;
	margin-top: 15px;
	border-radius: 20px;	
}
.third-color,.sixth-color{
	margin-right: 30%;
	margin-left: 1%;
	float: left;
	height: 125px;
	width: 10%;
	margin-top: 15px;
	border-radius: 20px;	
}
.second-color,.fifth-color{
	float: left;
	height: 125px;
	width: 10%;
	margin-top: 15px;
	border-radius: 20px;	
	

}
